<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-dialog
  [header]="this.estoyModificando ? 'Modificar' : 'Nuevo usuario'"
  [(visible)]="mostrandoDialogoUsuario"
  [maximizable]="true"
  [modal]="true">

    <div id="contenido">
        <form [formGroup]="formUsuario" (ngSubmit)="formularioUsuarioEnviado()">
            <div class="d-grid gap-3">
                <input id="id" pInputText type="text" placeholder="Id" formControlName="id"/>
                <input id="nombre" pInputText type="text" placeholder="Nombre" formControlName="nombre" />
                <input id="correo" pInputText type="email" placeholder="Correo" formControlName="correo"/>
                <input id="clave" pInputText type="password"  placeholder="Contraseña" formControlName="clave" />
                <small *ngIf="esCampoInvalido('clave')" class="p-error d-block">Al menos 8 carácteres (1 mayúscula, 1 minúscula y números)</small>
              <p-dropdown id="rol"  appendTo="body" [options]="rolesDisponibles" formControlName="rol" optionLabel="rol" ></p-dropdown>
            </div>
            <hr>
            <code>
                this.usuario = {{this.formUsuario.value | json }}
            </code>
            <hr>
            
            <div id="botonera" class="float-end">
                <button (click)="ocultarDialogoFormularioUsuario()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"></button>
                <button pTooltip="El formulario no es válido, revisa" [tooltipDisabled]="formUsuario.valid" tooltipPosition="right" (click)="formularioUsuarioEnviado()" [loading]="procesoGuardando" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"></button>
            </div>
        </form>
    </div> 
  

</p-dialog>
<p-card header="Usuarios" >
        <p-progressBar *ngIf="!listaUsuarios[1]" [style]="{'height': '6px'}" mode="indeterminate"></p-progressBar>
        <div *ngIf="listaUsuarios[1]">
            <p-toolbar>
                <ng-template pTemplate="right">
                    <button (click)="mostrarDialogoFormularioUsuario()" class="p-button-success" icon="pi pi-plus" pRipple pButton ></button>
                </ng-template>
                <ng-template pTemplate="left"></ng-template>
            </p-toolbar>
            <p-table 
                [value]="listaUsuarios" 
                styleClass="p-datatable-striped" 
                responsiveLayout="scroll"
                [rows]="5"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,10]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th>Email</th>
                        <th pSortableColumn="rol.rol">Rol<p-sortIcon field="rol.rol"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.rol.rol}}</td>
                        <td>
                            <span class="p-buttonset">
                                <button pRipple pButton (click)="editarUsuario(usuario)" icon="pi pi-pencil" class="p-button-warning p-button-sm"></button>
                                <button pRipple pButton (click)="confirmacionUsuario(usuario, $event)" [loading]="borrando" icon="pi pi-trash" class="p-button-danger p-button-sm"></button>
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <p>Lista de usuarios</p>
                </ng-template>
            </p-table>
        </div>
</p-card>
