<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-dialog header="Nuevo Usuario" [(visible)]="mostrandoDialogoUsuario" [modal]="true">
    <ng-template pTemplate="content">
        <div class="d-grid gap-3">
            <input pInputText placeholder="id" type="text">
            <input pInputText placeholder="Nombre" type="text">
            <input pInputText placeholder="Correo" type="text">
            <input pInputText placeholder="Contraseña" type="text">
            <input pInputText placeholder="Rol" type="text">
            <p-cascadeSelect name="rol" id="rol">
                <option value="administrador">Administrador</option>
                <option value="visor">Visor</option>
                <option value="usuario">Usuario</option>
            </p-cascadeSelect>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pRipple pButton >Cancelar</button>
        <button pRipple pButton >Guardar</button>
    </ng-template>
</p-dialog>
<p-card header="Usuarios" >
        <p-progressBar *ngIf="!listaUsuarios[1]" [style]="{'height': '6px'}" mode="indeterminate"></p-progressBar>
        <div *ngIf="listaUsuarios[1]">
            <p-toolbar>
                <ng-template pTemplate="right">
                    <button (click)="mostrarDialogoFormularioUsuario()" class="p-button-success" icon="pi pi-plus" pRipple pButton ></button>
                </ng-template>
                <ng-template pTemplate="left"></ng-template>
            </p-toolbar>
            <p-table 
                [value]="listaUsuarios" 
                styleClass="p-datatable-striped" 
                responsiveLayout="scroll"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,10]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th>Email</th>
                        <th pSortableColumn="rol.rol">Rol<p-sortIcon field="rol.rol"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.rol.rol}}</td>
                        <td>
                            <span class="p-buttonset">
                                <button pRipple pButton icon="pi pi-pencil" class="p-button-warning p-button-sm"></button>
                                <button pRipple pButton (click)="confirmacionUsuario(usuario, $event)" [loading]="borrando" icon="pi pi-trash" class="p-button-danger p-button-sm"></button>
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <p>Lista de usuarios</p>
                </ng-template>
            </p-table>
        </div>
</p-card>
