<p-dialog
  [visible]="true"
  [closable]="false"
  [draggable]="true"
  [maximizable]="true"
  class="p-fluid"
  header="Login">

  <ng-template pTemplate="content">
    <div class="container d-grid gap-3">
      <!-- Mensaje de error de login-->
      <div *ngIf="credencialesNoValidas" id="mensaje" class="p-message p-message-error p-2">
        <span>Usuario y/o contraseña no válidos</span>
      </div>

      <!-- contenido del formulario -->
      <div class="p-input-icon-left">
        
        <input pInputText type="text" placeholder="Correo" [(ngModel)]="usuario_correo"/>
      </div>
      <div class="p-input-icon-left">
        
        <input (keydown.enter)="login()" pPassword type="password" placeholder="Contraseña" [(ngModel)]="usuario_clave"/>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-text" [loading]="procesoLogin" label="Login" (click)="login()"></button>
  </ng-template>

</p-dialog>

