<header class="container-fluid text-center text-light p-5 mb-5 bg-teal-500">
    <h1 class="display-4">Centrales Nucleares con PrimeNg</h1>
</header>
<main class="container">
    <div class="row">
        <div class="col-5 col-lg-3">
            <app-menu></app-menu>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<footer class="p-1 bg-teal-700 fixed-bottom text-light text-end mt-5">
    <div class="me-3">
        <p>Arelance &copy; Pedro Consuegra</p>
    </div>
</footer>