<header class="container-fluid text-center text-light p-5 mb-5 bg-danger">
    <h1>CRUD</h1>
</header>
<main class="container">
    <div class="row">
        <div class="col-3 m-5">
            <app-menu></app-menu>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<footer class="p-1 bg-danger fixed-bottom text-light text-end mt-5">
    <div class="me-3">
        <p>&copy; Pedro Consuegra</p>
    </div>
</footer>